{
    "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "extends": ["eslint:recommended"],
    "rules": {
      "strict": ["error", "never"]
    },
    "globals": {
      "navigator": true,
      "localStorage": true,
      "fetch": true,
      "import": true,
      "document": true,
      "window": true
    },
    "env":{
      "browser": true
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"]
        }
      }
    }
}